<section class="section-rules display-center">
  <p class="p1">
    <strong class="nota">NOTA: </strong>
    Una vez que se haya realizado el pago del zarpe, el usuario tiene derecho a solicitar al cobrador la actualización
    de su estado de pago en la plataforma.<br>
  </p>
  <p>
    <strong>Atte.: </strong><span>Joaquín Concepción</span>
  </p>
</section>

<style>
  .p1 {
    font-size: 0.75em;
  }

  .nota {
    color: var(--clr-error);
  }

  span {
    color: var(--clr-primary);
    font-weight: 500;
  }
</style>